<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Mail</title>


</head>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 14px">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- If you delete this tag, the sky will fall on your head -->
    <meta name="viewport" content="width=device-width"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Mail</title>


</head>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 14px">

<!-- HEADER -->
<table style="margin-top: 20px;     width: 100%;
    border-spacing: 0;">
    <tr>

        <td class="" align="center" style="background: #15549a; padding: 10px 0; display:block!important;max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;  background-size: contain;">

            <h4 style="color: white; padding: 10px 0; margin: 0; font-size: 18px; font-weight: 500; text-align: center;">
                PrestoSolvo<br/>
                at<br/>
                Excelsior <span style="color: #3cf395;">Borrower Services</span>
            </h4>
        </td>

    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table style="    width: 100%;
    border-spacing: 0;">
    <tr>
        <td style=" display: block!important;
    max-width: 600px!important;
    margin: 0 auto!important;     background-color: #f2f2f2;">

            <div style="       padding: 30px 15px 25px;
    /* max-width: 600px; */
    margin: 20px auto;
    width: 84%;
    display: table;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px -5px 10px -2px #00000036; -webkit-box-shadow: 0px -5px 10px -2px #00000036; -o-box-shadow: 0px -5px 10px -2px #00000036; -moz-box-shadow: 0px -5px 10px -2px #00000036;">


                <table width="100%">

                    <tr>
                        <td>

                            <h4 style="font-weight: 500;font-size: 16px; margin-top: 0; margin-bottom: 0; text-align: left">Dear <%= name %>,</h4>

                            <p style="font-weight: normal;font-size: 14px; line-height: 1.5; color: #555; text-align: justify">
                                Hi. I’m Xander, your PrestoSolvo virtual assistant at Excelsior Borrower Services. According to our records, you are registered in the Public Service Loan Forgiveness program. Please click on the link below so I can confirm your standing in the program and assist you in meeting all your loan forgiveness qualifications. I’m looking forward to hearing from you. Thanks!
                            </p>




                            <a href="<%= link %>" style=" margin-top: 20px;   text-decoration: none;
    color: #FFF;
    background-color: #2ac576;
    padding: 10px 44px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px; text-decoration:  none">Invite</a>


                        </td>
                    </tr>
                </table>
            </div>

        </td>

    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table style="    width: 100%;
    clear: both!important;
    border-spacing: 0;">


    <tr>

        <td class="" bgcolor="#2d3837" style="border: 1px solid #2d3837;     display: block!important;
    max-width: 600px!important;
    margin: 0 auto!important;
    clear: both!important;">

            <!-- content -->
            <div style="margin:0 auto; display: table; padding:  5px 0;">
                <table>

                    <tr style="    font-size: 12px;">
                        <td align="left">
                                <span style="color: #fff;">Excelsior </span>
                                <span  style="color: #3cf395;">Borrower Services</span>
                                <!--<img src="images/logo.svg">-->
                        </td>
                        <td align="right">
                            <span style="color: #fff;">Powered By | </span>
                            <span  style="color: #83bfff;">PrestoSolvo</span>
                            <!--<img src="images/logo.svg">-->
                        </td>
                    </tr>


                </table>
            </div><!-- /content -->

        </td>

    </tr>
</table><!-- /FOOTER -->

</body>
</html>